*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.card{
    padding: 10px;
    border: 2px solid black;
    width: calc(25% - 20px);
    margin: 10px;
}

